*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
}


h1 {
    color: black;
}

#quiz-start {
    margin-top: 300px;

}

.homescreen {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-right: 200px;
    margin-left: 200px;
}

.hide {
    display: none;
}